<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title></title>
  <script src="https://rawgit.com/angular/bower-angular/master/angular.js"></script>
  <script src="https://rawgit.com/angular-ui/ui-router/master/release/angular-ui-router.js"></script>
  <script src="https://rawgit.com/ocombe/ocLazyLoad/master/dist/ocLazyLoad.js"></script>
  <script type="text/javascript" src="angular-ui-router.js"></script>
  <script src="play.js"></script>
</head>
<body ng-app="play" ng-controller="HomeCtrl as home">

<button ng-click="home.click()">Home</button>
<button ng-click="about.click()">About</button>
<ui-view></ui-view>

</body>
</html>