<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title></title>
  <script src="https://rawgit.com/angular/bower-angular/master/angular.js"></script>
  <script src="https://rawgit.com/angular-ui/ui-router/master/release/angular-ui-router.js"></script>
  <script src="https://rawgit.com/ocombe/ocLazyLoad/master/dist/ocLazyLoad.js"></script>
  <script type="text/javascript" src="angular-ui-router.js"></script>
  <script type="text/javascript" src="http://cdn.jsdelivr.net/restangular/latest/restangular.js"></script>
  <script src="play.js"></script>
</head>
<body ng-app="play">
<div ng-controller="HomeCtrl as home">
    <button ng-click="home.click()">Home</button>
</div>
<div ng-controller="AboutCtrl as about">
    <button ng-click="about.click()">About</button>
</div>
<div ng-controller="ContactCtrl as contact">
    <button ng-click="contact.click()">Contact</button>
</div>
<ui-view></ui-view>

</body>
</html>